@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.gallery {
    --s: 130px;
    /* control the size */
    --g: 10px;
    /* control the gap */
    display: grid;
    margin: calc(var(--s) + var(--g));
}

.gallery>img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 0.866;
    object-fit: cover;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0);
    transform: translate(var(--_x, 0), var(--_y, 0)) scale(var(--_t, 1));
    cursor: pointer;
    filter: grayscale(80%);
    transition: .2s linear;
}

.gallery>img:hover {
    filter: grayscale(0);
    z-index: 1;
    --_t: 1.2;
}

.gallery>img:nth-child(1) {
    --_x: calc(-100% - var(--g))
}

.gallery>img:nth-child(7) {
    --_x: calc(100% + var(--g))
}

.gallery>img:nth-child(3),
.gallery>img:nth-child(5) {
    --_y: calc(-75% - .87*var(--g))
}

.gallery>img:nth-child(4),
.gallery>img:nth-child(6) {
    --_y: calc(75% + .87*var(--g))
}

.gallery>img:nth-child(3),
.gallery>img:nth-child(4) {
    --_x: calc(-50% - .5*var(--g))
}

.gallery>img:nth-child(5),
.gallery>img:nth-child(6) {
    --_x: calc(50% + .5*var(--g))
}


body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #aabbfb;
}